<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="/profile#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Personal Info</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="/profile#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Login & security</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="/profile#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Privacy & sharing</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <router-outlet>

  </router-outlet>
  <!--


  
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    I have quick question related to PERM and I-140 approval then employer change. My current employer filed PERM still the status is pending, my question is can I change employer after my PERM approval without applying I-140? 
If I transferred to new employment can I still have same priority date? Please help me on this? TIA
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    I have quick question related to PERM and I-140 approval then employer change. My current employer filed PERM still the status is pending, my question is can I change employer after my PERM approval without applying I-140? 
If I transferred to new employment can I still have same priority date? Please help me on this? TIA
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    I have quick question related to PERM and I-140 approval then employer change. My current employer filed PERM still the status is pending, my question is can I change employer after my PERM approval without applying I-140? 
    If I transferred to new employment can I still have same priority date? Please help me on this? TIA
  </div>

  -->
</div>
